<div class="main coachs-edit">
  <div class="container">
    <div class="form-heading">ユーザー情報の編集</div>
    <div class="form coachs-form">
      <div class="form-body">
        <% @coach.errors.full_messages.each do |message| %>
          <div class="form-error">
            <%= message %>
          </div>
        <% end %>
        <%= form_tag("/coaches/#{@coach.id}/update") do %>
            <p>コーチ名</p>
            <input value="<%= @coach.name %>" name="name">
            <p>メールアドレス</p>
            <input value="<%= @coach.email %>" name="email">
            <input type="submit" value="保存">
        <% end %>
      </div>
    </div>
  </div>
</div>