<div class="main coach-show">
  <div class="container">
    <div class="coach">
      <h2><%= @coach.name %></h2>
      <p><%= @coach.email %></p>
      <%= link_to("編集", "/coaches/#{@coach.id}/edit") %>
    </div>
  </div>
</div>