<div class="courses-show-item">
    <%= @course.name %>
    <div class="course-time">
        <%= @course.created_at %>
    </div>
    <div class="course-menus">
        <%= link_to("編集", "/courses/#{@course.id}/edit") %>
        <%= link_to("削除", "/courses/#{@course.id}/destroy", data: { "turbo-method": :post }) %>
    </div>
</div>